.dashboard-top-container {
  display: flex;
  flex-direction: column;
  margin: 5rem 10rem;
  gap: 50px;

  .top-row {
    display: flex;
    gap: 50px;

    .user-info-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 20px;

      img {
        width: 100%;
        max-width: 250px;
        aspect-ratio: 1/1;
        object-fit: cover;
        border-radius: 50%;
        border: solid 7px #ec7854;
      }

      .user-name {
        width: 100%;
        font-size: 2rem;
        background-color: #ffffff;
        border: solid 7px #ec7854;
        padding: 5px 10px;
        border-radius: 300px;
        text-align: center;
      }

      .edit-profile-btn {
        background: none;
        border: none;
        cursor: unset;
        position: relative;
        cursor: pointer;

        .edit-icon {
          position: absolute;
          right: 30px;
          bottom: 12px;
          background: white;
          border: solid #ec7854;
          border-radius: 50%;
          padding: 10px;
          font-size: 18px;
        }
      }
    }

    .user-info-right {
      flex: 3;
      display: flex;
      border: solid #ec7854;
      border-radius: 20px;

      .user-info-childbox {
        flex: 1;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;

        span {
          &:nth-child(1) {
            font-size: 2.5rem;
            font-weight: 600;
          }
          &:nth-child(2) {
            font-size: 1.5rem;
            background-color: #ec7854;
            width: 100px;
            text-align: center;
            padding: 5px 0;
            border-radius: 20px;
          }
        }
      }
    }
  }

  .bottom-row {
    display: flex;
    justify-content: center;
    width: 100%;
    max-height: 700px;
  }
  .modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    position: relative;
    width: 100%;
    max-width: 250px;
    display: flex;
    flex-direction: column;
    gap: 1rem;

    .modal-detail-box {
      display: flex;
      flex-direction: column;

      .modal-detail-title {
        font-size: 1rem;
      }

      .modal-detail-text {
        background-color: #ec7854;
        padding: 5px;
        border-radius: 10px;
      }
    }
  }

  .close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    padding: 5px;
  }



  @media (max-width:1024px) {  
    width: -webkit-fill-available;
    margin: 1rem 1rem;
    
    .top-row{
      flex-direction: column;

      .user-info-right{
        padding: 1rem;
      }
    } 
    
    .bottom-row{
      width: 100%;
    }
  }

  @media (max-width:750px){    
    .top-row{
      .user-info-right{
      padding: 1rem;
      flex-direction: column;
      border:none;
      gap: 20px;
      border: none;

      .user-info-childbox{
        gap: 10px;
        border: solid #ec7854;
        border-radius: 15px;
        padding: 1rem 0 ;
      }
    }
    }   

    

  }
 
}
