.activity-type {
  display: flex;
  width: 100%;
  height: 300px;
  margin: 60px 30px;

}

.activity-image {
  width: 35%;
  height: 100%;
}

.activity-image img {
  width: 100%;
  object-fit: cover;
  height: 100%;
  border-radius: 15px;  
}

.activity-detail {
  width: 45%;
  height: 300px;
  margin-left: 50px;
  display: flex;
  flex-direction: column;
}

.activity-detail h3 {
  color: rgba(236, 120, 84, 1);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 30px;
  width: 200px;
  margin: 10px;
  border: 4px solid rgba(236, 120, 84, 1);
  border-radius: 5px;
  text-align: center;

}

#weight-training h3 {
  width: 300px;
}

.activity-detail p {
  font-family: Arial, Helvetica, sans-serif;
  /* font-size: 18px; */
  width: 840px;
  text-indent: 30px;
  margin: 0;
  padding: 40px 15px;
  font-size: 20px;
}

.activity-detail button {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
  height: 40px;
  width: 200px;
  border-radius: 10px;
  border: 2px solid rgba(236, 120, 84, 1);
  color: rgb(255, 255, 255);
  background-color: rgba(236, 120, 84, 1);
  border: none;
  margin-top: 25px;
}

button:hover {
  background-color: rgb(255, 255, 255);
  color: rgba(236, 120, 84, 1);
  border: 2px solid rgba(236, 120, 84, 1);

}

.btn-getstart {
  display: flex;
  justify-content: flex-end;
  width: 840px;
}