.signUp-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
  font-family: Arial, Helvetica, sans-serif;

  .signUp-header {
    color: rgba(63, 63, 63, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 15px;
  }
  
  .signUp-header h2 {
    margin: 5px
  }
  
  .signUp-header p {
    margin: 5;
    font-size: 20px;
  }
  
  .signUp-header a {
    color: rgba(236, 120, 84, 1);
  }
  
  .signUp-header span {
    padding-left: 15px;
  }
  
  .signUp-form {
    margin: 0 !important;
  }
  
  .signUp-input {
    display: flex;
    flex-direction: column;
    color: rgba(63, 63, 63, 1);
    margin: 0 !important;
  }
  
  .signUp-input h3 {
    font-weight: bold;
  }
  
  form {
    gap: 0 !important;
  }
  
  .signUp-gender {
    color: rgba(63, 63, 63, 1);
  }
  
  .select-gender {
    display: flex;
    height: 43.2px;
  }
  
  .select-gender input {
    height: 13px;
  }
  
  .gender-male {
    display: flex;
    margin: 0 15px;
  }
  
  .gender-male input{
    margin-right: 5px;
  }
  
  .gender-female input{
    margin-right: 5px;
  }
  
  .gender-female {
    display: flex;
    margin-right: 15px;
  }
  
  .signUp-page-btn {
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    width: 520px;
  }
  
  .signUp-page-btn a {
   font-weight: 500px;
  }
  
  .signUp {
    color: rgba(236, 120, 84, 1) !important;
  }
  
  .signUp button {
    height: 50px !important;
    width: 250px !important;
    background-color: rgba(236, 120, 84, 1) !important;
  }
  
  .signUp-google button {
    height: 50px !important;
    width: 250px !important;
    background-color: rgba(214, 214, 214, 1) !important;
    color: rgba(0, 0, 0, 0.54);
  }
  
  button {
    font-weight:bold !important;
    font-size: 17px !important;
  }
  
  .signUp button:hover {
    border: 3px solid rgba(236, 120, 84, 1) !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgba(236, 120, 84, 1) !important;
  }
  
  .signUp-google button:hover {
    border: 3px solid rgba(0, 0, 0, 0.54) !important;
    background-color: rgb(255, 255, 255) !important;
    color: rgba(0, 0, 0, 0.54) !important;
  }
}