.container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #d7d7d7;
    align-items: center;
    color: #3f3f3f;
    padding: 0 15px;
}

.logo {
    font-size: x-large;
    font-weight: 900;
}

.fit {
    color: #ec7854;
}

.center__nav {
    display: flex;
    gap: 1rem;
}

.last__nav {
    display: flex;
    gap: 1rem;  
}

a {
    text-decoration: none;
    color: #3f3f3f;
    font-weight: 900;
}