.createActivitiyPage{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

h2{
    font-size: 2rem;
}

form{
    width: 100%;
    max-width: 750px;
    margin: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    margin-top: 3rem;
}

.activityTypeSelect{
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    font-size: 3rem;
}

.activityTypeSelect span.active {    
    color: #EC7854;
  }

.ActivityWrapInput{
    display: flex;
    flex-direction: column;
    gap: 2px;
}

input{
    height: 40px;
}

textarea{
    height: 110px;
    resize: none;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
  }

.activityBtnWrap{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 2rem;
}
button{
    width: 300px;
    height: 70px;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 20px;
    border: none;
    color: white;
    cursor: pointer;
}

button:nth-child(1) {
    background-color: #000000;
}

/* ลำดับที่ 2 */
button:nth-child(2) {
    background-color: #EC7854;
}