#home-container {

  .home-content{
    display:flex;
    justify-content: center;
  }

  button{
    width: 30vw;
    padding: 1rem 0;
    background-color: #110c0c;
    border: 0;
  }

  .paragraph, .activities-pic {
    padding: 3rem 6rem;
    font-size: 2rem;
    font-weight: 400;
    width: 30vw;
  }

  .activities-pic img{
    width: 100%;
  }

}

    